<footer id="site-footer" class="site-footer-light">
  <nav>
    <ul class="site-footer-nav">
      <li><a href="#">This is what makes a great Developers: PASSION!</a></li>
    </ul>
  </nav>
  <nav>
    <ul class="site-footer-nav-copyright">
      <li class="copyright">&copy; 2014 AJAXpro</li>
      <li class="interpunct">&middot;</li>
      <li>All rights reserved</li>
      <li class="interpunct">&middot;</li>
      <li class="privacy-policy"><a href="#">Privacy Policy</a></li>
      <li class="interpunct">&middot;</li>
      <li class="terms-of-use"><a href="#">Terms of Use</a></li>
    </ul>
  </nav>
</footer><!-- #site-footer -->